.modal-title{
      color: black;
}

#items{
	border: 2px dashed #bbb;
      -moz-border-radius: 7px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 30px;
      text-align: center;
      
      color: #bbb;
      width: 100%;	 
	
}

.list-group-item-text{
	color: black;
}
.dropdown-menu > ul{
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 300px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }