body { 
padding-top: 65px; 
background-color: #343945;
background-image: url("http://www.transparenttextures.com/patterns/triangles.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
          
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h3,
.h4,
p{
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  color: white;
}
h1{ font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 70;}
h5,
h6 {
  font-weight: 400;
}

nav {
background-color: #343945;
background-image: url("http://www.transparenttextures.com/patterns/triangles.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  
}
.c_contexto,.c_problematica{
    color: white;
}

.table td {
   text-align: center;  

}
.table th {
   text-align: center;  
   
}
.table tr {
   text-align: center;  
   
}

.tablaestilo{

	border: 1px solid #ddd;
}


.thwnumero {
	text-align: center;  
	width: 10%; 
}
.thwnombre {
	  text-align: center;  
	  width: 30%; 
}
.thwdescripcion {
	  text-align: center;  
	  width: 40%; 
}
.thwcurso {
	text-align: center;  
	width: 30%; 
}
.thwinumero {
	text-align: center;  
	  width: 10%; 
}
.trwinombre {

	  width: 30%; 
}
.trwidescripcion {

	  width: 40%; 
}
.trwiopciones {

	  width: 30%; 
}
/*Abp Profesor*/
#formularioAbpProfesor{

	align: center;

}
	
.circularIcono{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 5em;


	}
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}
.Personajes-Agregados{

	width: 50%;
}
	
#addAct{
color: white;
background-color: #2966B8;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con-irCurso {
	position: fixed;
	left: 0px;
	top: 60px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(http://localhost:8080/PlataformaEducativa/loader/128x128/Preloader_8.gif) center no-repeat #fff;
}
.se-pre-con-curso {
	position: fixed;
	left: 0px;
	top: 60px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(http://localhost:8080/PlataformaEducativa/loader/128x128/Preloader_4.gif) center no-repeat #fff;
}
#actividadesList{
	width: 60%;
}
#done{
	color: #2DC800;
}



@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    width:50%;
    border:1px solid #bbb;
    margin:50px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commenterImage {
    width:30px;
    margin-right:5px;
  
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
#archivo_estilo{
	width: 50%;
}
#ayuda{
	    float:left;
}

.container h1 {
    color: white;
}


 
 .container {
      width: auto;
      max-width: 680px;
      padding: 0 15px;
    }

    .container .text-muted {
      margin: 20px 0;
    }

#progress{
  width: 15%;
  height: 15%;
}
.problematica{

  width: 50%;
}
.contexto{

  width: 50%;
}
.personajes{

  width: 50%;
}


#p_problematica{
  font-family: "Philosopher",Arial, serif;
  font-weight: 300; 
  font-size: 30px;
}
.fa{
  color: white;
}
#p_contexto{
  font-family: 'Roboto Slab', serif;
  font-weight: 300; 
  font-size: 30px;
}
#p_personaje{
  font-family: 'Roboto Slab', serif;
 
  font-size: 25px;
}
.p_problematica{
  font-family: "Roboto",Arial, serif;
  font-weight: 300; 
  font-size: 20px;
  color: #2897B7;
}

.p_contexto{
   font-family: "Roboto",Arial, serif;
  font-weight: 300; 
  font-size: 20px;
  color: #2897B7;
}
.p_personajes{
   font-family: "Roboto",Arial, serif;
  font-weight: 300; 
  font-size: 20px;
  color: #2897B7;
}
.fa-5x{
  font-size: 200px;

}
#letrero_abp{
  font-size: 22px;
}