
.table td {
   text-align: center;  

}
.table th {
   text-align: center;  
   
}
.table tr {
   text-align: center;  
   
}

.tablaestilo{

	border: 1px solid #ddd;
}


.thwnumero {
	text-align: center;  
	width: 10%; 
}
.thwnombre {
	  text-align: center;  
	  width: 30%; 
}
.thwdescripcion {
	  text-align: center;  
	  width: 40%; 
}
.thwcurso {
	text-align: center;  
	width: 30%; 
}
.thwinumero {
	text-align: center;  
	  width: 10%; 
}
.trwinombre {

	  width: 30%; 
}
.trwidescripcion {

	  width: 40%; 
}
.trwiopciones {

	  width: 30%; 
}
/*Abp Profesor*/
#formularioAbpProfesor{

	align: center;

}
	
.circularIcono{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 5em;


	}
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
  vertical-align: bottom;
  top: 0;
}
.tag a {
  margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}
.Personajes-Agregados{

	width: 50%;
}
	
#addAct{
color: white;
background-color: #2966B8;
}